body {
    background-color: #000 !important;
    margin: auto;
}

.container {
    height: 100vh;
    padding: 50px;
    background-color: aquamarine;
}

#tempHeading {
    background-color: pink;
    height: 100px;
    text-align: center;
    font-size: 2em !important;
    line-height: 100px;
}